# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
package-lock.json

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Project-specific
*.log
*.sqlite3
*.db
*.DS_Store
*.bak
*.tmp
*.swp